<mat-card >
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Saisissez un nom : </mat-label>
          <input matInput placeholder="Nom du quiz">
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <mat-label>Sélectionnez un thème : </mat-label>
          <input matInput placeholder="Thème du quiz">
          <mat-select>
            <mat-option value="option1">""</mat-option>
            <mat-option value="option2">""</mat-option>
            <mat-option value="option3">""</mat-option>
        </mat-select>
        </mat-form-field>
    
        <mat-form-field class="example-full-width">
            <mat-label>Sélectionnez un niveau : </mat-label>
            <input matInput placeholder="Niveau du quiz">
            <mat-select>
                <mat-option value="option1">Junior</mat-option>
                <mat-option value="option2">Intermediaire</mat-option>
                <mat-option value="option3">Confirmé</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button>Valider</button>
      </form>
</mat-card>
