* {
	box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body{
    background-color: #373e57;
    color :#ccc8db;
}

.container {
	max-width: 90%;
    margin:auto;
}

/* ------------HEADER----------- */

header nav{
    background-color: brown;
    height : 7em;
    display: flex;
    align-items: center;
    padding: 2rem;
}

header a{
    border-radius: 0.5em;
}

header nav div{
    border-radius: 0.5em;
    margin : 0.3em;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

div.home{
    width: 10em;
}

div.home a{
    color : white;
    text-decoration: none;
    margin : 0.05em;
    padding: 0.2em;
    background-color: #080808;
    width: 20rem;
    text-align: center;

}

div.naviguation{
    width: 30em;
}
div.naviguation a{
    background-color: #ddd;
    text-decoration: none;
    color: #333;
    margin : 0.05em;
    padding: 1em;
    width: 10em;
    text-align: center;
    margin: 2rem;
    width :10rem;
}
.dark-hover :hover{
    background-color: #333;
    color: #ddd;
}

div.naviguation button{
  color:snow;
  font-size: 1.5rem;
}

.profil-button {
  background-color: #ddd;
  text-decoration: none;
  color: black;
  display: block;
  background-color: #ddd;
  width: 13rem;
  border-color: brown;
}

.profil-button a{
  display: block;
}

.profil-button button{
  display: block;
  width: 13rem;
}

.menu-volet{
  background-color:brown;
  background-color: #ddd;
}
