<header>
    <nav>
      <div>
        <a routerLink="" *ngIf="!currentUser">
          <img src="../../../assets/img/Logo Final.png" alt="logo questionanire" width="350">
        </a>
      </div>
      <div>
        <a routerLink="home-connecte" *ngIf="currentUser">
          <img src="../../../assets/img/Logo Final.png" alt="logo questionanire" width="350">
        </a>
      </div>

          <div class="naviguation">
            <div>
              <div class="dark-hover" *ngIf="!currentUser">
                <a mat-raised-button  routerLink="/inscription" class="navo-button">Inscription</a>
              </div>
              <div class="dark-hover" *ngIf="currentUser">
                <a mat-raised-button  routerLink="/nouveau" class="navo-button">Nouveau</a>
              </div>
              <div class="dark-hover" *ngIf="currentUser">
                <a mat-raised-button  routerLink="/questionnaires" class="navo-button">Mes questionnaires</a>
              </div>
              <div class="dark-hover" *ngIf="currentUser && currentUser.isAdmin == true">
                <a mat-raised-button  routerLink="/users"  class="navo-button">Utilisateurs</a>
              </div>
            </div>
            <div class="user-connect" *ngIf="!currentUser">
              <div class="dark-hover">
                <button mat-button [matMenuTriggerFor]="menuconnx">
                  Connexion
                </button>
                <mat-menu #menuconnx="matMenu" class="menu-volet">
                 <app-volet-connection></app-volet-connection>
                </mat-menu>
              </div>
            </div>
              <div *ngIf="currentUser" class="username">
                <button mat-button color="primary" [matMenuTriggerFor]="menu" >
                  <mat-icon>person</mat-icon>
                  {{currentUser.username}}
                </button>
                <mat-menu #menu="matMenu" class="menu-volet">
                  <div class="dark-hover profil-button">
                    <a mat-stroked-button  routerLink="/modifier-profil">Voir profil</a>
                  </div>
                  <div class="dark-hover profil-button">
                    <button mat-stroked-button  (click)="seDeconnecter()">Déconnexion</button>
                  </div>
                </mat-menu>
              </div>

          </div>
    </nav>
</header>
