* {
	box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body{
    background-color: #373e57;
    color :#ccc8db;
}

.container {
	max-width: 90%;
    margin:auto;
}

/* ------------HEADER----------- */

header nav{
    background-color: brown;
    height : 7em;
    display: flex;
    justify-content: space-around;
}

header a{
    border-radius: 0.5em;
}

header nav div{
    border-radius: 0.5em;
    margin : 0.3em;   
    font-size: 3rem;
    display: flex;
    justify-content: space-between;
}

div.home{
    width: 10em; 
}

div.home a{
    color : white;
    text-decoration: none;
    margin : 0.05em;
    padding: 0.2em;
    background-color: #080808;
    width: 20rem; 
    text-align: center;
    
}

div.naviguation{
    width: 30em;
}
div.naviguation a{
    background-color: #ddd;
    text-decoration: none;
    color: #333;
    margin : 0.05em;
    padding: 0.2em;
    width: 10em;
    text-align: center;
}
div.naviguation :hover{
    background-color: #333;
    color: #ddd;
}
