<header>
    <nav>
        <div class="home">
            <a routerLink="">Home</a>

          </div>
          <div class="naviguation">
              <a routerLink="/inscription">Inscription</a>
              <a routerLink="/users">Utilisateurs</a>
              <a routerLink="/connexion">Connexion</a>
              <div *ngIf="currentUser">
                <p>{{currentUser.username}}</p>
                <button (click)="seDeconnecter()">Deconnexion</button>
              </div>
              <div *ngIf="!currentUser">
                <button>Se connecter</button>
              </div>
          </div>

    </nav>
</header>
