     <section>
      <mat-accordion>
        <mat-expansion-panel id="expension1" (opened)="openPannelA()" (closed)="closePannelA()">
        <mat-expansion-panel-header>
          <mat-panel-title id="pannelA">
            {{user.username}}
          </mat-panel-title>
          <mat-panel-description>
            {{this.descriptionA}}
          </mat-panel-description>
        </mat-expansion-panel-header>
          <span>Adresse : {{user.adress}} ----</span>
          <span> Mail : {{user.mail}} ----</span>
          <span> Admin : {{user.isAdmin}}  Créateur : {{user.isCreator}}</span>


          <mat-expansion-panel id="expension2" class="mat-elevation-z0" (opened)="openPannelB()" (closed)="closePannelB()"[hideToggle]="true">
            <mat-expansion-panel-header>
              <mat-panel-title id="pannelB">
                Listes des questionnaires
              </mat-panel-title>
              <mat-panel-description>
                {{this.descriptionB}}
              </mat-panel-description>
            </mat-expansion-panel-header>

              <div *ngFor="let quiz of user.listQuizz" id="questionnaires">
                <span id="nom-quizz">{{quiz.name}}</span>
                <button mat-icon-button color="accent" [matMenuTriggerFor]="menu" aria-label="menu-icon" id="bouton-quiz">
                  <mat-icon>menu</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button class="menu-bouton" mat-button routerLink="/voir-questionnaire">VOIR LE QUESTIONNAIRE</button>
                  <button class="menu-bouton" mat-button routerLink="/modifier-questionnaire">EDITER LE QUESTIONNAIRE</button>
                  <button class="menu-bouton" mat-button routerLink="/voir-un-utilisateur">VOIR LES CANDIDATS</button>
                  <button class="menu-bouton" mat-button (click)="deleteQuiz()">SUPPRIMER</button>
                </mat-menu>
              </div>

            </mat-expansion-panel>
        </mat-expansion-panel>
      </mat-accordion>

      <div>
        <button mat-icon-button class="icon-color-green" aria-label="Example icon button with a heart icon">
          <mat-icon routerLink="/modifier-profil">settings</mat-icon>
        </button>
        <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
          <mat-icon (click)="deleteUtilisateur()">delete</mat-icon>
        </button>
      </div>
    </section>
