
   <mat-card>
   <div>
      <mat-accordion>
        <mat-expansion-panel (opened)="openPannel()" (closed)="closePannel()">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{user.username}} {{user.firstName}} {{user.lastName}}
            <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
              <mat-icon (click)="deleteUtilisateur()">delete</mat-icon>
            </button>
          </mat-panel-title>
          <mat-panel-description>
            {{panelOpenState ? '{user.firstName} {{user.lastName}}' : 'Cliquer pour afficher l\'utilisateur'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
          <p>Adresse : {{user.adress}}</p>
          <p>Mail : {{user.mail}}</p>
          <p>Admin : {{user.isAdmin}}  Créateur : {{user.isCreator}}</p>
          <p *ngFor="let quiz of listQuiz">
            {{quiz.name}}
          </p>
        </mat-expansion-panel>
      </mat-accordion>
        <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <button mat-button (click)="deleteQuiz()">SUPPRIMER</button>
    </div>



</mat-card>
