<main>
  <h1> Page de connexion</h1>
  <div class="login">
    <h2 class="login-header">S'identifier</h2>
    <form [formGroup]="loginForm" class="login-container" (ngSubmit)="onSubmit()">

      <label for="username">Identifiant</label>
      <input type="text" formControlName="username" [ngClass]="{'has-error': isSubmitted && formControls.username.errors}">
      <div *ngIf="isSubmitted && formControls.username.errors" class="help-block">
        <div *ngIf="formControls.username.errors.required" class="error">L'identifiant est requis</div>
      </div>

      <label for="password">Mot de passe</label>
      <input type="password" formControlName="password" [ngClass]="{'has-error': isSubmitted && formControls.password.errors }">
      <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
        <div *ngIf="formControls.password.errors.required" class="error">Mot de passe requis</div>
      </div>
      <div class="button-row">
        <button mat-raised-button [disabled]="loading" class="connexion">
          <span *ngIf="!loading">Connexion</span>
          <mat-icon *ngIf="loading">
            <mat-progress-spinner class="example-margin" [color]="color" [mode]="mode" diameter="35" ></mat-progress-spinner>
          </mat-icon>
        </button>
      </div>

      <a routerLink="/inscription">Inscription</a>
    </form>
  </div>


</main>
