* {
	box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body{
    background-color: #373e57;
    color :#ccc8db;
}

.container {
	max-width: 90%;
    margin:auto;
}

/* ------------HEADER----------- */

header nav{
    background-color: brown;
    height : 7em;
    display: flex;
    align-items: center;
    padding: 2rem;
}

header a{
    border-radius: 0.5em;
}

header nav div{
    border-radius: 0.5em;
    margin : 0.3em;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
