<main>
    <form id="forminscription" [formGroup]="userForm" (ngSubmit)="onSubmit()" >
        <H2>Avant de commencer...</H2>
        <p>Veuillez remplir ce court questionnaire. Il permettra au recruteur de revenir vers vous ensuite. </p>
        <label >Nom :
            <input type="text" formControlName="lastName" id="nomtxt" placeholder="Entrer votre nom">
        </label>
        <label >Prénom :
            <input type="text" formControlName="firstName" id="prenomtxt" placeholder="Entrer votre prénom">
        </label>

        <label >Adresse mail :
            <input type="text" formControlName="mail" id="mailtxt" placeholder="Entrer votre adresse mail">
        </label>
        <!-- <label >Confirmer le Mot de passe :
        <input type="password" name="passwordConfirm" id="passwordConfirmtxt" placeholder="Confirmer mot de passe">
        </label> -->

        <button type="submit">Valider</button>
    </form>

</main>
