<section>
  <h1>Création du questionnaire : </h1>
  <h2>{{this.quiz.name}}</h2>



    <form [formGroup]="questionnaireForm" (ngSubmit)="onSubmit()" autocomplete="off">

      <div class="survey-options">

        <div formArrayName="surveyQuestions" class="poll-options">
          <h3 class="list-title">Ajouter des questions </h3>

          <ol class="list-style">
            <li *ngFor="let questionCtrl of questionnaireForm.get('surveyQuestions')['controls']; let i = index">
              <div [formGroupName]="i">
                <div>
                  <mat-form-field class="full-width">
                    <input #message formControlName="questionTitle" maxlength="300" matInput placeholder="Titre de la question"
                      [required]="true">
                      <mat-hint align="end">{{message.value.length}} / 300</mat-hint>
                  </mat-form-field>
                  <div formGroupName="questionGroup" class="questionGroup">
                    <div>
                      <div *ngIf="questionCtrl.controls.questionGroup.controls.options">
                        <ul class="question-type" formArrayName="options">
                          <li *ngFor="let optionCtrl of questionCtrl.controls.questionGroup.controls.options.controls let j = index">
                            <div [formGroupName]="j" >
                              <mat-form-field>
                                <input formControlName="optionText" matInput placeholder="texte" maxlength="200">
                                <mat-hint align="end">{{message.value.length}} / 200</mat-hint>
                              </mat-form-field>
                                <button mat-raised-button *ngIf="j>=2" (click)="removeOption(i,j)" color="warn">
                                X
                                </button>
                            </div>
                          </li>
                        </ul>
                        <button mat-raised-button type="button" (click)="addOption(i)" class="mat-sm-button add-option-btn" color="accent"> Ajouter une proposition</button>
                      </div>
                      <div *ngIf="questionCtrl.controls.questionGroup.controls.showRemarksBox">
                        <mat-checkbox [formControl]="hiddenComment">Ajouter un commentaire</mat-checkbox>
                        <mat-form-field class="full-width" *ngIf="hiddenComment.value">
                            <textarea  formControlName="commentaireText" style="resize: none;" matInput placeholder="Commentaire"></textarea>
                          </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
                <button *ngIf="i>0" mat-mini-fab color="warn" type="button" (click)="onRemoveQuestion(i)" class="poll-remove-btn">
                X
                </button>
              </div>


            </li>
          </ol>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="end">
        <button type="button" mat-raised-button (click)="onAddQuestion(index)">
        Ajouter une question
        </button>
      </div>
      <div class="sub-but">
        <button type="submit" mat-raised-button color="primary">Créer</button>
      </div>

    </form>
</section>
